.col-4, .col-6, .col-3, .col-12{
    border-style: solid; 
    border-color:#ced4da;
    padding: 10px;
    border-width: 1px;
    margin-bottom: 3px;
    border-radius: 10px;
    background-color: white;


  
 
}

.container{
    margin-top: 5%;
  
}

body{
    background-color: #094567;
}

h4{
    color:  #094567;
}


.btn-secondary{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 2px 2px 5px 0 black;
}


.form-check-input{
margin-left: 50PX;
}

.dorado{
    background-color: #ddb103;
    height: 10px;
    box-shadow: 2px 2px 15px 0 black;
    
}

